#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        double_quotation {
            bindings = <&kp SQT>;
            key-positions = <20 21>;
        };

        MouseLayer {
            bindings = <&mo 4>;
            key-positions = <13 12>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_Y(64)>, <&msc MOVE_Y(-64)>;
            tap-ms = <25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R               &kp T                                                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F               &kp G             &kp LS(LG(LC(NUMBER_4)))      &kp MINUS                 &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V               &kp B             &kp LEFT_CONTROL              &kp SQT                   &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp TAB           &kp LEFT_WIN  &kp LEFT_ALT  &mt LEFT_GUI SPACE  &lt 1 LANGUAGE_2  &lt 2 LANGUAGE_1              &mt LEFT_SHIFT BACKSPACE  &lt 3 ENTER                             &kp SQT
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        Numbers {
            bindings = <
&kp ESC       &trans        &kp LC(UP_ARROW)  &trans        &trans                          &trans        &kp F7  &kp F8            &kp MINUS          &kp EQUAL
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4  &kp N5  &trans      &trans      &kp NUMBER_6  &kp N7  &kp NUMBER_8      &kp NUMBER_9       &kp N0
&trans        &trans        &trans            &trans        &trans  &trans      &trans      &trans        &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SLASH
&kp TAB       &trans        &trans            &trans        &trans  &trans      &kp DELETE  &trans                                                     &trans
            >;
        };

        Signs {
            bindings = <
&kp ESC           &trans      &trans            &trans            &trans                              &trans            &trans      &trans          &kp LS(MINUS)    &kp LS(EQUAL)
&kp LS(NUMBER_1)  &kp LS(N2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)  &trans      &trans      &kp LS(NUMBER_6)  &kp LS(N7)  &kp LS(N8)      &kp LS(N9)       &kp LS(N0)
&trans            &trans      &trans            &trans            &trans      &trans      &trans      &trans            &trans      &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LS(BACKSLASH)
&trans            &trans      &trans            &trans            &trans      &trans      &kp DELETE  &trans                                                         &trans
            >;
        };

        Arrows {
            bindings = <
&trans   &trans  &trans  &trans  &trans                             &trans          &kp PAGE_DOWN   &kp PAGE_UP   &trans           &trans
&trans   &trans  &trans  &trans  &trans  &trans      &trans         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans   &trans  &trans  &trans  &trans  &trans      &trans         &trans          &kp END         &kp HOME      &trans           &trans
&kp TAB  &trans  &trans  &trans  &trans  &trans      &kp BACKSPACE  &trans                                                         &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp LCLK  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                               &trans
            >;
        };
    };
};
